@font-face {
    font-family: 'xoloniumregular';
    src: url('./font/xolonium-regular-webfont.woff2') format('woff2'),
         url('./font/xolonium-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: xoloniumregular;
    text-shadow: 1px 1px 2px black;
    background: url('/static/background.png') no-repeat center center fixed;
    background-color: #111111;
    color: #F9F9F9;
}

#container {
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin: 0 auto;
}

.inforow {
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
}

.infobox > span {
    font-size: 28px;
    color: #00ff00;
    font-weight: bold;
}

.infobox {
    font-size: 26px;
}

#title {
    font-size: 75px;
    text-align: center;
    color: #00ff00;
    margin-bottom: 30px;
}

#error-msg {
    color: #FF0000;
    font-size: 50px;
    width: 1100px;
    text-align: center;
}

#scoreTable {
    font-size: 30px;
    text-align: left;
    margin: 0 auto;
}

#scoreTable > thead {
    color: #00ff00;
    font-size: 34px;
}

.tdname {
    width: 600px;
}

.tdscore {
    width: 150px;
}

.tdtime {
    width: 250px;
}

#logo {
    position: absolute;
    bottom: 40px;
    width: 290px;
    height: 90px;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 2px;
    width: 99%;
    height: 20px;
    color: #E9E9E9;
    font-size: 18px;
}

#footer > a {
    color: #E9E9E9;
}
