@font-face {
    font-family: 'xoloniumregular';
    src: url('./font/xolonium-regular-webfont.woff2') format('woff2'),
         url('./font/xolonium-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: xoloniumregular;
    text-shadow: 1px 1px 2px black;
    background-color: #282828;
    color: #F9F9F9;
}

#container {
    width: 700px;
    margin: 0 auto;
}

#info {
    font-size: 26px;
}

#title {
    font-size: 50px;
}

#scoreTable {
    width: 500px;
    margin: 0 auto;
}
