<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Xonotic</title>
    <meta name="description" content="Xonotic scoreboard 0.1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='score.css') }}" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div id="title">Scoreboard - LanPatio</div>
      <div id="error-msg"></div>
      <div class="inforow">
        <div id="name-info" class="infobox"></div>
        <div id="player-info" class="infobox"></div>
      </div>
      <div id="score"></div>
    </div>

    <object id="logo" data="{{ url_for('static', filename='poulogo.svg') }}" type="image/svg+xml">
    </object>

    <div id="footer">
      <a href="https://github.com/NoMore201/xonotic-scoreboard">Xonotic Scoreboard v 0.1</a>
      <span id="server-stats"></span>
    </div>

    <script src="{{ url_for('static', filename='score.js') }}"></script>
  </body>
</html>
